{% extends 'base_layout.html' %} {% block content %}


<div class="row align-items-center ">
  <div class="col p-4 d-none d-sm-block">
    {% load static %}
    <img  class="w-75 img-fluid p-4 d-none d-sm-block" src="{% static 'img/reading.png' %}" alt="reading.png">
  </div>
  <div class="col">
    <p class="display-1 text-primary pb-5">Welcome </p>
    <p class="display-4 text-dark pb-5">I'm a ... </p>
    {% load static %}
  <button class=" btn btn-info me-2 btn-lg"><a  href="http://127.0.0.1:8000/teacher/login/">Teacher</a>  </a></button> 
  <button class="btn btn-primary text-light btn-lg"><a class="text-light" href="http://127.0.0.1:8000/student/login/">Student</a> </a> </button>
  </div>


</div>

{% endblock %}